* {
  margin: 0;
  padding: 0;
}
main {
  text-align: center;
  padding: 10px 400px 10px 400px;
}
h1 {
  text-align: center;
  margin: 10px;
}
img {
  border: solid black 2px;
}
body {
  background-color: #DDBDD5;
}